<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Node template Handlebar</title>
    </head>
    <body>
        {{> header}}
        <h1>
            {{pageTitle}}
        </h1>
        {{welcomeMessage}}
        <p>Some text are here</p>
    </body>
     {{> foooter}}
</html>